#anchor {
    -fx-background-image: url("/it/polimi/se2018/view/images/others/background.jpg");
    -fx-background-position: center center;
}

.label {
    -fx-font-weight: bolder;
    -fx-text-fill: WHITE;
}

/*noinspection CssUnusedSymbol*/
.radio-button{
    -fx-font-weight: bolder;
    -fx-text-fill: WHITE;
}

/*noinspection CssUnusedSymbol*/
.check-box {
    -fx-font-weight: bolder;
    -fx-text-fill: WHITE;
}

#error{
    -fx-text-fill: WHITE;
}